.elrs-header {
    padding: 1em 0 1em 0 ;
    background-color: #4686a0;
    color: rgba(255, 255, 255, 0.75);
    background-attachment: fixed, fixed, fixed;
    background-image: linear-gradient(45deg, #9dc66b 5%, #4fa49a 30%, #4361c2);
    background-position: top left, center center, center center;
    background-size: auto, cover, cover;
    overflow: hidden;
    position: relative;
    text-align: center;
}

body, input, select, textarea {
    color: #666;
    font-family: "Open Sans Pro", Helvetica, sans-serif;
    font-size: 12pt;
    font-weight: 300;
    line-height: 1.65em;
}

a:active, a:focus {
    outline: 0;
    border: none;
    outline-style: none;
    -moz-outline-style: none;
}

.lr-padding {
    margin-left: 6px;
    margin-right: 6px;
}
